body {
    background-color: black;
}
h1 {
    color:blanchedalmond;
    margin:auto;
    text-align: center;
}
p {
  color:white;
}

.image-gallery {
    display: flex; 
    flex-wrap: wrap; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
  }
  
.image-gallery li {
    margin: 5px; 
    width:200px;
  }
  
.image-gallery li img {
    object-fit:contain;
    width: 100px; 
    height: 100px; 
    padding:10px;
    transition: transform 0.2s ease-in-out;
  }

.image-gallery li img:hover {
    transform: scale(1.2); 
  }

 nav {
    color: blanchedalmond; 
    display: flex; 
    justify-content: center; 
    padding: 10px 20px; 
  }
  
nav ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
  }
  
nav li {
    display: inline-block; 
    margin-right: 20px; 
  }
  
nav li a {
    text-decoration: none;
    color: blanchedalmond;
    
  }

.inputbox {
  background-color:black;
  color: white;
}

.image.correct {
  background-color: green;
}
