<!DOCTYPE html>
<html>
  <head>
    <title>PoeGuesser</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body> 
    <h1> You have guessed 30/2323 correctly<h1>
      {% if guess %}
    <p>Your last guess: {{ guess }}</p>
  {% endif %}
  {% if feedback_message %}
  <p>{{ feedback_message }}</p>
{% endif %}
        <nav>
            <ul>
              <li><a href="#">Jewellery</a></li>
              <li><a href="#">Armours</a></li>
              <li><a href="#">Weapons</a></li>
              <li><a href="#">Jewels</a></li>
            </ul>
          </nav>
    <ul class="image-gallery">
        {% for image_url, image_id in zip(image_urls, image_ids) %}
            <li>
                <img id="{{ image_id }}"src="{{ image_url }}" alt="Image"> 
                <form method="POST" action="{{ url_for('index')}}" id="form1">
                <input type="text" class="inputbox" id="text-input-{{ loop.index }}" name="text-input-{{ loop.index }}">
                <input type="submit" id="bt1">
                </form>
            </li>
            {% set row_number = loop.index %}
        {% endfor %}
    </ul>
    
    
  </body>
  </html>